* {
    user-select: none;
}
a {
    cursor: pointer;
}
.navbar {
    position: fixed;
    z-index: 1;
}
.container-fluid {
    padding-top: 82px;
}
.h7 {
    font-size: 0.5rem;
    color: rgba(255,255,255,.3);
}
.w-45 {
    width: 45%!important;
}
.bg-brown {
    background-color: #aa8976;
}
.bg-brown-5 {
    background-color: #f0e2d0;
}
.bg-green-5 {
    background-color: rgba(112, 175, 133, .5);
    box-shadow: 0 0 20px #c6ebc9 inset;
}
.moving.bg-green-5 {
    background-color: rgba(112, 175, 133, .9);
}
.img-box {
    padding-bottom: 100%;
}
nav img {
    height: 57px;
    width: 150px;
    transition: all .4s ease;
}
.moving img {
    height: 38px;
    width: 100px;
}
.card:hover {
    box-shadow: 0 0 30px #fff;
}
.icon {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
    vertical-align: sub;
}
.title.icon {
    width: 30px;
    height: 30px;
}
.title.shop:before {
    content: attr(data-num);
    display: flex;
    position: absolute;
    top: -9px;
    right: -9px;
    width: 18px;
    height: 18px;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 50%;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    margin-left: auto;
}
.add-user { background: url(../images/add-user.png) no-repeat center/contain;}
.shop { background: url(../images/shopping-cart-w.png) no-repeat center/contain;}
.add { background: url(../images/add.png) no-repeat center/contain;}
.tap { background: url(../images/tap-w.png) no-repeat center/contain;}
.change-btn {
    color: #fff;
}
.change-btn:hover {
    color: #000;
    text-decoration: none;
}